<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis Tool</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <div class="hero">
      <h1>Sentiment Analysis Tool</h1>
      <p>Harness the power of AI to understand sentiments in your text!</p>
    </div>

    <div class="container">
      <h2>Analyze Your Text</h2>
      <form id="sentiment-form">
        <div class="mb-3">
          <textarea
            class="form-control"
            id="text-input"
            rows="5"
            placeholder="Enter your text here..."
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-custom">Analyze Sentiment</button>
      </form>
      <div id="result" class="mt-4"></div>
      <div id="overall-sentiment" class="mt-4"></div>
    </div>

    <div class="footer">
      <p>&copy; 2024 Anthony Seadler's Portfolio</p>
    </div>

    <script>
      document.getElementById("sentiment-form").onsubmit = async function (
        event
      ) {
        event.preventDefault();
        const inputText = document.getElementById("text-input").value;

        // Fetch sentiment analysis
        const response = await fetch("/analyze", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ text: inputText }),
        });

        const result = await response.json();
        document.getElementById("result").innerHTML = result.highlighted_text; // Display highlighted text
        document.getElementById(
          "overall-sentiment"
        ).innerText = `Overall Sentiment: ${result.overall_sentiment}`; // Display overall sentiment
      };
    </script>
  </body>
</html>
